@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

button {
  color: white;
  padding: 8px 16px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  min-width: 100px;
}
